header.header
    nav
        a(href="/") Home
        ul
            li
                if user
                    button#logout Logout
                else
                    a(href='/login') Login
            li
                if user
                    a(href=`/${user.name}`) account
                else
                    a(href='/join') Signup
    div -----------------------------------header-------------------------------------------------