header.header
    nav
        a(href="/") Home
        ul.navbar-nav.ml-auto.flex-nowrap
            li.nav-item
                if user
                    a.nav-link.logout.btn Logout
                else
                    a.nav-link(href='/login') Login
            li.nav-item
                if user
                    a.nav-link(href=`/${user.name}`) account
                else
                    a.nav-link(href='/join') Signup
    div -----------------------------------header-------------------------------------------------