header.header
    nav
        a(href="/")
            button.header-btn.home Home
        ul
            li
                if user
                    button.header-btn#logout Logout
                else
                    a(href='/login')
                        button.header-btn.login Login
            li
                if user
                    a(href=`/${user.name}`)
                        .header-user
                            img(src=`/img/users/${user.photo}` width="50")
                            span=`${user.name}`
                else
                    a(href='/join')
                        button.header-btn.signup Sign up