header.header
    .header-logo
        a(href="/")
            img(src=`/img/logo.png`)
    .header-content
        .content-el
        .content-el
    .header-account
        if user
            .header-account.header-account-yes
                button#logout.btn-header.btn-logout Logout
                a(href=`/${user.name}`)
                    .user-header
                        .user-img
                            img(src=`/img/users/${user.photo}`)
                        .user-name=`${user.name}`
        else
            .header-account.header-account-no
                a(href='/login')
                    button.btn-header.btn-login Login
                a(href='/join')
                    button.btn-header.btn-signup Sign up