extends base

block content

    a.d-flex.justify-content-around(href="/updateUser") userUpdate
    a.d-flex.justify-content-around(href="/createTour") createTour
    a.d-flex.justify-content-around(href="/my-tours") tours i guide
