extends base

block content
    .form--createTour.container.w-25
        form
            h2.text-center create Tour
            .form-group
                label(for='name') Name
                input#name.form-control(type='text' placeholder='Tour Name')
            .form-grouph
                label(for='description') About Tour
                input#description.form-control(type='text' placeholder='About Tour')
            .form-group.text-center
                button.btn.btn-primary(type="submit") create!