extends base

block content
    h3 Review
        form.box.form--guideReview
            .form-el
                label(for='rating') Rating
                input#rating(type="number" min="1" max="5")
            .form-el
                label(for='review') About Tour
                input#review(type='text' placeholder='review')
            .form-el
                button.update-btn(type="submit") enter!