extends base

block content
    .form--createTour
        form
            h2 create Tour
            .form-el
                label(for='name') Name
                input#name(type='text' placeholder='Tour Name')
            .form-el
                label(for='description') About Tour
                input#description(type='text' placeholder='About Tour')
            .form-el
                label(for='price') price
                input#price(type='text' placeholder='price')
            .form-el
                label(for='group') group
                input#group(type='text' placeholder='group')
            .form-el
                label(for='date') start date
                input#startDate(type='date' value=`${new Date(Date.now()).toISOString().slice(0,10)}`)
            .form-el
                label(for='date') end date
                input#endDate(type='date' value=`${new Date(Date.now()).toISOString().slice(0,10)}`)
            .form-el
                label(for='imageCover') Cover image
                input#imageCover(type="file" accept="image/*")
            .form-el
                label(for='images') images
                input#images(type='file' accept="image/*" multiple name="images")
            .form-el
                button(type="submit") create!