extends base

block content
    .form--guideReview
        form
            h2 Guide review
            .form-el
                label(for='rating') Rating
                input#rating(type="number" min="1" max="5")
            .form-el
                label(for='review') About Tour
                input#review(type='text' placeholder='review')
            .form-el
                button(type="submit") enter!