extends base

block content
        form.form-wide.form--createReview
            h3 Review
            .form-el
                img.review-image(src=`/img/tours/${tour.imageCover}` alt=`tour cover image`)
            .form-el
                label(for='rating') Rating
                input#tourRating(type="number" min="1" max="5")
            .form-el
                label(for='review') About Tour
                input#tourReview(type='text' placeholder='tour review')
            .form-el
                img.review-image(src=`/img/users/${guide.photo}` alt=`guide image`)
            .form-el
                label(for='rating') Rating
                input#guideRating(type="number" min="1" max="5")
            .form-el
                label(for='review') About Tour
                input#guideReview(type='text' placeholder='guide review')
            .form-el
                button#reviewCreateBtn.update-btn(type="submit" data-tour-id=`${tour.id}`) enter!
            