extends base

block content
    h3 forgot password
        form.box.form--forgotPassword
            .form-el
                label(for='email') Email address
                input#email(type='email' placeholder='Enter email')
            .form-el
                button.update-btn(type="submit") send email