extends base

block content
        form.form-narrow.form--forgotPassword
            h3 forgot password
            .form-el
                label(for='email') Email address
                input#email(type='email' placeholder='Enter email')
            .form-el
                button.update-btn(type="submit") send email