extends base

block content
    h3 Login
        form.box.form--login
            .form-el
                label(for='email') Email address
                input#email(type='email' placeholder='Enter email')
            .form-el
                label(for='password') Password
                input#password(type='password' placeholder='Your Password')
            .form-el
                button.update-btn(type="submit") Login
        a(href="/password_reset") forgotPassword
