extends base

block content
        form.form-narrow.form--resetPassword
            h3 resetPassword
            .form-el
                label(for='password') Password
                input#password(type='password' placeholder='new password')
            .form-el
                label(for='passwordConfirm') PasswordConfirm
                input#passwordConfirm(type='passwordConfirm' placeholder='new password confirm')
            .form-el
                button.update-btn(type="submit") change