extends base

block content
    .form--resetPassword.container.w-25
        form
            h2.text-center resetPassword
            .form-group
                label(for='password') Password
                input#password.form-control(type='password' placeholder='new password')
            .form-group
                label(for='passwordConfirm') PasswordConfirm
                input#passwordConfirm.form-control(type='passwordConfirm' placeholder='new password confirm')
            .form-group.text-center
                button.btn.btn-primary(type="submit") change