extends base

block content
    h3 Sign up
        form.box.form--signup
            .form-el
                label(for='name') Name
                input#name(placeholder='Your name')
            .form-el
                label(for='email') Email address
                input#email(type='email' placeholder='Enter email')
            .form-el
                label(for='password') Password
                input#password(type='password' placeholder='Your Password')
            .form-el
                label(for='passwordConfirm') Confirm Password
                input#passwordConfirm(type='password' placeholder='Confirm Password')
            .form-el
                button.update-btn(type="submit") Sign Up
