extends base

block content
    .tour.container
        .tour=`name: ${tour.name}`
        .description=`abour tour: ${tour.description}`
        each guide in tour.guides
            .guide=`guides: ${guide.name}`
