*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 85%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  background-color: lemonchiffon;
  padding: 1rem;
  box-sizing: border-box;
}

/* ################ header ################### */
.header {
  height: 10vh;
  width: 90vw;
  margin: 0 auto;
  padding: 1rem;
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  background-color: white;
  height: 8vh;
  overflow: hidden;
}
.header-logo:hover {
  background-color: whitesmoke;
}

.header-content {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  margin: 3rem 1rem 1rem 10rem;
}
.content-el {
  margin-left: 3rem;
  font-size: 1.2rem;
}

.header-account {
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

.btn-header.btn-logout {
  background-color: brown;
}
.btn-header.btn-logout:hover {
  background-color: rgb(99, 25, 25);
}

.btn-header.btn-login {
  background-color: yellow;
}
.btn-header.btn-login:hover {
  background-color: rgb(173, 173, 9);
}

.btn-header.btn-signup {
  background-color: yellow;
  margin-left: 1rem;
}
.btn-header.btn-signup:hover {
  background-color: rgb(173, 173, 9);
  margin-left: 1rem;
}

.user-header {
  background-color: darkcyan;
  margin-left: 1rem;
  height: 8vh;
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.user-header:hover {
  background-color: rgb(1, 109, 109);
}

.user-img img {
  height: 8vh;
}
.user-name {
  margin-right: 0.7rem;
}

.btn-header {
  height: 8vh;
  width: 8rem;
  cursor: pointer;
  border: none;
}

/* ################## overview ##################### */
.main {
  width: 90vw;
  background-color: tan;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-tours {
  width: 70vw;
  background-color: thistle;
  padding: 1rem;
}

.tours-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.tours-function {
  display: flex;
  background-color: tomato;
  justify-content: space-between;
  padding: 0.5rem;
}
.tours-function > .function-search {
  background-color: violet;
  width: 50vw;
  padding: 0 1rem;
}
.tours-function > .function-search > form {
  display: flex;
}
.function-search form input[type="text"] {
  width: 15vw;
}
.function-search form select {
  width: 10vw;
  height: 3rem;
  margin: auto 1rem;
}
.function-search form input[type="submit"] {
  width: 10vw;
  cursor: pointer;
}
.function-search form input[type="submit"]:hover {
  background-color: whitesmoke;
}
.tours-function > .function-sort {
  background-color: yellowgreen;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 0.5rem;
}
.tours-function > .function-sort .list-items {
  background-color: sandybrown;
  padding: 1rem;
}
.tours-function > .function-sort .list-items:hover {
  background-color: rgb(175, 117, 66);
}
.tours-content {
  background-color: seagreen;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tours-content > .tour-card {
  background-color: sienna;
  width: 17rem;
  margin: 1rem;
}

.tour-card > .tour-image img {
  width: 16rem;
  display: block;
  margin: 0.5rem auto;
}

.tour-card > .tour-status {
  background-color: slateblue;
  width: 16rem;
  margin: 0.5rem auto;
  text-align: center;
}

.status-items.name {
  font-size: 1.2rem;
}

.tour-card > a .tour-look {
  background-color: floralwhite;
  width: 16rem;
  height: 3rem;
  display: block;
  margin: 0.5rem auto;
  text-align: center;
  font-size: 1.5rem;
}
.tour-card > a .tour-look:hover {
  background-color: rgb(226, 200, 147);
}

.main-chart {
  width: 20vw;
  padding: 1rem;
}
.chart-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.chart-content .guide-stats {
  margin-bottom: 1rem;
  display: flex;
}

.table-chart {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.table-chart img {
  width: 5vw;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.paginate {
  background-color: darkred;
  padding: 0.2rem;
  display: flex;
  justify-content: space-around;
}

.paginate a {
  width: 20%;
}

.next {
  width: 100%;
  margin: 1rem auto;
  background-color: darksalmon;
  text-align: center;
  padding: 0.5rem 0;
}
.next:hover {
  background-color: tomato;
}

/* ################### tour ########################## */
.tour-images {
  display: flex;
  justify-content: space-around;
}

.tour-booking {
  display: block;
  width: 100px;
  margin: 20px auto;
}

/* ##################### account ###################### */

table,
th,
td {
  border: 1px solid black;
}

/* ############ user profile ############## */
.account {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-container {
  background-color: lightblue;
  width: 25rem;
  margin: 2rem 0;
  margin-left: 5%;
  padding: 1rem 0;
}
.user-container > .user-image {
  width: 20rem;
  margin: 0 auto;
}
.user-container > .user-image img {
  width: 20rem;
}

.user-container > .user-table {
  background-color: rosybrown;
  width: 20rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.user-container > a .user-update {
  background-color: silver;
  font-size: 1.2rem;
  text-align: center;
  width: 10rem;
  margin: 0 auto;
}
/* ############ my tours ############## */
.myTours-container {
  text-align: center;
  background-color: thistle;
  width: 35rem;
  margin: 2rem 0;
}
.myTour {
  background-color: brown;
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  height: 8rem;
}
.myTour table {
  width: 80%;
  height: 7rem;
}
.myTour .buttons {
  width: 20%;
  height: 100%;
}

.buttons .edit-btn {
  background-color: cadetblue;
  height: 100%;
  width: 90%;
  margin-left: 0.5rem;
  cursor: pointer;
}

.create-tour {
  display: block;
  background-color: coral;
  padding: 1rem;
  width: 20rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
}
/* ############ my bookings ############ */
.myBookings-container {
  text-align: center;
  background-color: violet;
  width: 35rem;
  margin: 2rem 0;
  margin-right: 5%;
}
.myBooking {
  background-color: brown;
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  height: 8rem;
}
.myBooking table {
  width: 80%;
  height: 7rem;
}
.myBooking .buttons {
  width: 20%;
  height: 100%;
}

.buttons .edit-btn {
  background-color: cadetblue;
  height: 100%;
  width: 90%;
  margin-left: 0.5rem;
  cursor: pointer;
}

/* #######my reviews ########### */
.myReviews-container {
  margin-top: 2rem;
  text-align: center;
}
.myReview-table {
  width: 20rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: darkgoldenrod;
}

/* ################# updaet #################*/
.form-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 200px;
  padding: 10px 20px;
  margin: 10px 0;
}

.update-btn {
  margin: 0 auto;
  padding: 10px;
  background-color: yellowgreen;
  cursor: pointer;
}

.image-cover {
  width: 100px;
}

.image-images {
  width: 50px;
  margin-right: 3px;
}

/* ################# review ##################### */
.review-image {
  width: 120px;
  margin: 10px auto;
}

/* ################## form ###########################*/

.form-narrow {
  background-color: darkseagreen;
  width: 25vw;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

.form-wide {
  background-color: darkseagreen;
  width: 30vw;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

.form-el .update-btn {
  margin: 1rem auto;
}
/* ################# tour #####################*/
.tour-box {
  background-color: darkviolet;
  width: 90vw;
  margin: 1rem auto;
  text-align: center;
  padding: 2rem;
}
.tour-box .tour-header {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.tour-box .tour-images img {
  display: flex;
  justify-content: space-around;
  width: 25vw;
}

.tables {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tables .tour-table {
  width: 30vw;
  height: 30vh;
  margin: 2rem;
  background-color: firebrick;
}

.tables .review-table {
  width: 30vw;
  margin: 2rem;
  background-color: fuchsia;
}

.review-table th {
  width: 8vw;
}
.review-table img {
  display: block;
  width: 5vw;
  margin: 0.5rem auto;
}

.tables .guide-table {
  width: 13vw;
  height: 30vh;
  margin: 2rem;
  background-color: ghostwhite;
}

.tables .guide-table img {
  width: 10vw;
  margin: 1rem auto;
}

.tour-booking {
  width: 30vw;
}
.tour-booking button {
  width: 15vw;
  height: 5vw;
  margin: 2rem auto;
  background-color: gold;
  font-size: 2rem;
}

/* ################## error ##################### */
.error {
  width: 90vw;
  margin: 2rem auto;
  padding: 3rem;
  text-align: center;
  background-color: indianred;
}
/* ################# footer #####################*/
.footer {
  height: 10vh;
  width: 90vw;
  margin: 0 auto;
  background-color: cornflowerblue;
}

.footer-text {
  text-align: center;
  margin-bottom: 0.5rem;
}

/* ################# alert ######################*/
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}
